/build
/.idea
/.idea/cache
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.gradle
/.gradle/
/.gradle/buildOutputCleanup/
/idea
/app/src/main/main.iml
omer-android.iml
/omer-android.iml
.idea/misc.xml
.idea/modules.xml
idea/workspace.xml
.idea/workspace.xml



